<h1>{{user.first_name}} {{user.last_name}} [{{user.id}}]</h1>
<ul class="list-group">
    <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
    <li class="list-group-item"><strong>First Name: </strong>{{user.first_name}}</li>
    <li class="list-group-item"><strong>Last Name: </strong>{{user.last_name}}</li>
    <li class="list-group-item"><strong>Age Preference: </strong>{{user.agePrefer}}</li>
    <li class="list-group-item"><strong>Birthday: </strong>{{user.birthday}}</li>
    <li class="list-group-item"><strong>Looking? </strong>{{user.looking}}</li>
    <li class="list-group-item"><strong>Preferences: </strong>{{user.preferences}}</li>
    <li class="list-group-item"><strong>Size Preference: </strong>{{user.sizePrefer}}</li>
</ul>
<a class="btn btn-default pull-left" href="/">Back</a>
<form method="POST" action="/user/delete/{{user.id}}?_method=DELETE">
    <input type="submit" class="btn btn-danger pull-right" value="Delete">
</form>